<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="avcdb" connectionString="Server=139.196.55.11; User=guest;Password=1111111;Database=pwavc1;Charset=utf8; Pooling=true; Max Pool Size=4;" />
  </connectionStrings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>